
*.pyc
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.xlsx#
poetry.lock.bak
.idea/dbnavigator.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/1548316d-e954-4a5e-92f5-3bdc5e68550e.xml
.idea/dataSources/2d11e5e3-9413-4e89-b528-152b75ffc1d3.xml
.idea/dataSources/49b43dcd-3ae2-48dc-a64c-ae20b70a1ebd.xml
.idea/dataSources/75b705f0-17d9-4bce-9af5-0568139bdb40.xml
.idea/dataSources/8d499057-4678-4601-90a3-c98366388747.xml
.idea/dataSources/eb688488-0e6a-4898-ad08-9b24e4b3eec5.xml
.idea/sqldialects.xml
.idea/dataSources/1a1935e3-1cc0-4b4c-96a2-2905c187b157.xml
*.xml
*.py~
